{% extends 'main.html'%}

{%block content%}
<div align="center" style="padding: 40px;">
	<h1>Welcome to Library Managment System</h1>
	<div class="container" style="padding-top: 30px;">
    	<div class="row">
    		{% for attr in lms %}
        	<div class="col-lg-3 mb-4">
				<div class="card mb-3" style="max-width: 18rem;">
				  <div class="card-body">
				    <h5 class="card-title">{{attr.title}}</h5>
				    <p class="card-text">{{attr.count}}</p>
				  </div>
				</div>
        	</div>
        	{% endfor %}
        </div>
    </div>
</div>
{% endblock content%}