{% extends 'main.html'%}

{%block content%}
<div align="center" style="padding: 10px;">
<h3><b>Users</b></h3>
</div>
<div align="center" style="padding: 40px;">
	<div class="container" style="padding-top: 30px;">
    	<div class="row">
    		{%for user in users%}
        	<div class="col-lg-3 mb-4">
				  <img src="https://www.iconsdb.com/icons/preview/gray/user-xxl.png" class="card-img-top" alt="user image" style="width=50%;">
				  <div class="card-body">
				    <h5 class="card-title">{{user.firstname}}</h5>
				    <p class="card-text"><br>{{user.email}}</p>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item"><b>Number of books taken</b>:{{user.books_taken}} </li>
				    <li class="list-group-item"><b>phone number :</b> {{user.mobile_number}}</li>
				    <li class="list-group-item"><b>number of books due:</b> {{user.books_due}}</li>
				  </ul>
				  <div class="card-body">
				  	<a href="/user/{{user.id}}" class="btn btn-primary"> view Profile</a>
				  </div>
        	</div>
        	{% endfor %}
        </div>
    </div>
</div>
{% endblock content%}